#map {
  width: 100%;
  height: 500px; /* Default height */
  max-width: 100%;
}

@media (max-width: 768px) {
  #map {
    height: 400px;
  }
}

@media (max-width: 576px) {
  #map {
    height: 300px;
  }
}
body {
  background-color: #453750;
}
h1 {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  color: #ffd700;
}
h2 {
  color: #00aeef;
}
p {
  color: #f0f0f0;
}
nav {
  background-color: #9882ac;
}
#navbar {
  color: #f0f0f0;
  font-weight: bold;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
.no-linkm {
  cursor: pointer;
  text-decoration: none;
  display: block;
  color: inherit;
}
.infoWindow {
  width: 350px;
  height: 250px;
  overflow: auto;
}
.infoWindow p,
.infoWindow h2 {
  color: #453750;
}

#locate_me {
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  color: #f20707;
}

.py-3 {
  background-color: #9882ac;
}
.py-3 p {
  color: #f0f0f0;
  font-weight: bold;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

#geo_locate {
  color: #f20707;
}

.custom-search-btn {
  background-color: #4f46e5; /* Indigo 600 */
  color: white;
  border: none;
}

.custom-search-btn:hover {
  background-color: #4338ca; /* Darker Indigo */
}
