#map {
    width: 100%;
    height: 500px; /* Default height */
    max-width: 100%;
  }
  
  @media (max-width: 768px) {
    #map {
      height: 400px;
    }
  }
  
  @media (max-width: 576px) {
    #map {
      height: 300px;
    }
  }
body{
    background-color: #453750;
}  
h1{
    color: #73648A;
}
h2{
    color: #9882AC;
}
p{
    color: #a393bf;
}
nav{
    background-color: #9882AC;
}
.no-link {
  cursor: pointer;
  text-decoration: none;
  display: block; 
  color: inherit;
}

#footer{
    background-color: #9882AC;
}
#geo_locate{
    color: #f20707;
}
.custom-search-btn {
  background-color: #4f46e5; /* Indigo 600 */
  color: white;
  border: none;
}

.custom-search-btn:hover {
  background-color: #4338ca; /* Darker Indigo */
}
