/* StAuth10244: I Pouya Tayyari, 000949516 certify that this material is my original work. 
No other person's work has been used without due acknowledgement. I have not made my work available to anyone else. */

#map {
  width: 100%;
  height: 500px; 
  max-width: 100%;
}

@media (max-width: 768px) {
  #map {
    height: 400px;
  }
}

@media (max-width: 576px) {
  #map {
    height: 300px;
  }
}
body {
  background-color: #453750;
}
h1 {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  color: #ffd700;
}
h2 {
  color: #00aeef;
}
p {
  color: #f0f0f0;
}
nav {
  background-color: #9882ac;
}
#navbar {
  color: #f0f0f0;
  font-weight: bold;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
.no-linkm {
  cursor: pointer;
  text-decoration: none;
  display: block;
  color: inherit;
}
.infoWindow {
  width: 100%;
  height: auto;
  max-width: 400px; 
  max-height: 100vh; 
  padding: 10px; 
  box-sizing: border-box; 
}
.infoWindow p,
.infoWindow h2 {
  color: #453750;
}
.infoWindow h3 {
  color: #4E5A87;
}

.infoWindow img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

#locate_me {
  cursor: pointer;
  display: inline;
}

.py-3 {
  background-color: #9882ac;
}
.py-3 p {
  color: #f0f0f0;
  font-weight: bold;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

#geo_locate {
  color: #f20707;
}

.custom-search-btn {
  background-color: #4f46e5;
  color: white;
  border: none;
}

.custom-search-btn:hover {
  background-color: #4338ca; 
}
.custom-btn {
  padding: 0.10rem 0.5rem; 
  font-size: 0.75rem; 
}